meta(name="HandheldFriendly", content="true")
meta(name="MobileOptimized", content="320")
meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no")

mixin thumb(category, ref)
  a(href= ref)
    div.thumbnail
      h2= category

doctype
html
  head
    title #{title} - 城市书房

    //FAVICON
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
        img(src="/img/BookstoreIco.png")
        h1 城市书房
    div#leftNav

      -var categories = ["热饮", "冷饮", "茶", "食品"];
      -var refs = ["/hot", "", "/tea", ""];
      -var xi = categories.length;
      -for(var i=0; i<xi; i++){
       +thumb(categories[i],refs[i])
      -}
      a(href="")
        div.cart
          img(src="/img/cart.png" style="height: 80%; display: block; margin: auto; margin-top: 1vh; margin-bottom: 1vh;")
          h2 77

    div#mainContent
      block items