/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
#header {
  color: #fff;
  z-index: 9001;
  font-family: 'Quicksand';
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  font-size: 7vh;
  background: #a55e38;
  padding-top: 2vh;
  padding-bottom: 1vh;
  border: 2px dotted #633822;
  -webkit-box-shadow: 0px 0.5vh 8px 0px rgba(50,50,50,0.5);
  box-shadow: 0px 0.5vh 8px 0px rgba(50,50,50,0.5);
}
#header img {
  display: block;
  margin-top: -3vh;
  margin-left: 1vh;
  height: 13vh;
}
#header h1 {
  position: absolute;
  margin-top: -9.4vh;
  margin-left: 14vh;
  text-align: center;
}
#leftNav {
  color: #fff;
  z-index: 5000;
  overflow: auto;
  position: absolute;
  top: 11.5vh;
  left: 0;
  right: 70vw;
  bottom: 0;
  background: #385077;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  -webkit-box-shadow: 1vw 0vh 8px 0px rgba(50,50,50,0.5);
  box-shadow: 1vw 0vh 8px 0px rgba(50,50,50,0.5);
}
#mainContent {
  overflow: auto;
  position: absolute;
  top: 11.5vh;
  left: 30vw;
  width: 70vw;
  right: 0;
  bottom: 0;
  background: #916a4e;
}
#footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: #faf9f0;
}
a {
  color: inherit;
  text-decoration: none;
}
div.cartend {
  overflow: hidden;
  height: 20vh;
  width: 70vw;
  text-align: center;
  z-index: -1;
}
div.cartend h1 {
  font-size: 6vh;
  padding-top: 6vh;
  padding-bottom: 1vh;
}
div.cartend a.left {
  width: 25vw;
  height: 20vh;
  float: left;
  background: #db5353;
  -webkit-box-shadow: 3vw 0vh 8px 0px rgba(50,50,50,0.5);
  box-shadow: 3vw 0vh 8px 0px rgba(50,50,50,0.5);
}
div.cartend a.right {
  width: 45vw;
  height: 20vh;
  float: right;
  background: #4cc273;
}
img.item {
  overflow: hidden;
  object-fit: cover;
  display: block;
  clip: rect(0, 0, 0, 0);
  height: 20vh;
  width: 70vw;
  -webkit-box-shadow: 0px 0.5vh 8px 0px rgba(50,50,50,0.5);
  box-shadow: 0px 0.5vh 8px 0px rgba(50,50,50,0.5);
}
div.item {
  position: absolute;
  margin-top: -16vh;
  margin-left: 1vw;
  width: 68vw;
}
div.item h2 {
  font-size: 4vh;
  text-shadow: 2px 2px 4px #000;
}
div.item h3 {
  margin-top: 2px;
  font-size: 3vh;
  text-shadow: 2px 2px 4px #000;
}
div.item h4 {
  margin-right: 5vw;
  margin-top: 1vh;
  font-size: 4vh;
  text-align: right;
  text-shadow: 2px 2px 4px #000;
}
div.thumbnail {
  display: block;
  background: #2a3c59;
  margin-bottom: 1vh;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
  height: 10vh;
  font-size: 25px;
  text-align: center;
  border-style: inset;
  border: 1px dotted #385077;
  -webkit-box-shadow: 0 5px 5px 0px rgba(50,50,50,0.6);
  box-shadow: 0 5px 5px 0px rgba(50,50,50,0.6);
}
div.thumbnail h2 {
  padding-top: 3.2vh;
  padding-bottom: 4vh;
}
div.cart {
  display: block;
  background: #2a3c59;
  margin-bottom: 1vh;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 3px;
  height: 15vh;
  font-size: 30px;
  text-align: left;
  border-style: inset;
  border: 1px dotted #385077;
  -webkit-box-shadow: 0 5px 5px 0px rgba(50,50,50,0.6);
  box-shadow: 0 5px 5px 0px rgba(50,50,50,0.6);
}
div.cart h2 {
  margin-top: -4.5vh;
  margin-left: 17.4vw;
  position: absolute;
}
div.alert {
  position: fixed;
  top: 8vh;
  bottom: 0;
  left: 30vw;
  right: 0;
  background: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  -ms-transition: opacity 800ms;
  transition: opacity 800ms;
  z-index: 8900;
}
div.alert div.popup {
  position: relative;
  display: block;
  border-radius: 15px;
  margin-left: 20vw;
  width: 30vw;
  height: 30vh;
  text-align: center;
  background: #385077;
}
div.alert div.popup h1 {
  margin-top: 10vw;
  padding-top: 5vh;
  font-size: 5vw;
}
div.alert div.popup a {
  display: block;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  margin-top: 3vw;
  padding-top: 2vh;
}
div.alert div.popup a#cancel {
  float: left;
  margin-left: 3vw;
  background: #db5353;
}
div.alert div.popup a#confirm {
  float: right;
  margin-right: 3vw;
  background: #4cc273;
}
div.alert:target {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body {
  color: #fff;
  overflow: hidden;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #a55e38;
  border-bottom: 1px solid #744227;
  text-shadow: 0px -1px 0px #744227;
}
.container {
  width: 100vw;
  height: 84vh;
  overflow: auto;
}
p {
  line-height: 0.8;
}
