/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #a55e38
background-color = #faf9f0
category-color = #385077
item-color = #916a4e

#header
  color #fff
  z-index 9001
  font-family 'Quicksand'
  text-align center
  overflow hidden
  position absolute
  top 0
  left 0
  right 0
  height 8vh
  font-size 7vh
  background main-color
  padding-top 2vh
  padding-bottom 1vh
  border 2px dotted darken(main-color, 40%)
  box-shadow 0px 0.5vh 8px 0px rgba(50,50,50,0.5)
  img
    display block
    margin-top -3vh
    margin-left 1vh
    height 13vh
  h1
    position absolute
    margin-top -9.4vh
    margin-left 14vh
    text-align center
    
  
#leftNav
  color #fff
  z-index 5000
  overflow auto
  position absolute
  top 11.5vh
  left 0
  right 70vw
  bottom 0
  background category-color
  padding-left 2px
  padding-right 2px
  padding-top 2px
  box-shadow 1vw 0vh 8px 0px rgba(50,50,50,0.5)
  
#mainContent
  overflow auto
  position absolute
  top 11.5vh
  left 30vw
  width 70vw
  right 0
  bottom 0
  background item-color
#footer
  overflow hidden
  position absolute
  bottom 0
  left 0
  right 0
  height 10vh
  background background-color
  
a
  color inherit
  text-decoration none

div.cartend
  overflow hidden
  height 20vh
  width 70vw
  text-align center
  z-index -1
  h1
    font-size 6vh
    padding-top 6vh
    padding-bottom 1vh
  a.left
    width 25vw
    height 20vh
    float left
    background #db5353
    //border-left 1.5vw solid #f45042
    box-shadow 3vw 0vh 8px 0px rgba(50,50,50,0.5)
  a.right
    width 45vw
    height 20vh
    float right
    background darken(#6fce8f, 15%)
    //border-left 1.5vw solid lighten(category-color, 40%)
  
img.item
  overflow hidden
  object-fit cover
  display block
  clip rect(0, 0, 0, 0)
  height 20vh
  width 70vw
  box-shadow 0px 0.5vh 8px 0px rgba(50,50,50,0.5)
  
div.item
  position absolute
  margin-top -16vh
  margin-left 1vw
  width 68vw
  h2
    font-size 4vh
    text-shadow 2px 2px 4px #000000
  h3
    margin-top 2px
    font-size 3vh
    text-shadow 2px 2px 4px #000000
  h4
    margin-right 5vw
    margin-top 1vh
    font-size 4vh
    text-align right
    text-shadow 2px 2px 4px #000000

  

div.thumbnail
  display block
  background darken(category-color, 25%)
  margin-bottom 1vh
  margin-top 2px
  margin-left 3px
  margin-right 3px
  height 10vh
  font-size 25px
  text-align center
  border-style inset
  border 1px dotted category-color
  box-shadow 0 5px 5px 0px rgba(50,50,50,0.6)
  h2
    padding-top: 3.2vh
    padding-bottom: 4vh
    
div.cart
  display block
  background darken(category-color, 25%)
  margin-bottom 1vh
  margin-top 2px
  margin-left 3px
  margin-right 3px
  height 15vh
  font-size 30px
  text-align left
  border-style inset
  border 1px dotted category-color
  box-shadow 0 5px 5px 0px rgba(50,50,50,0.6)
  h2
    margin-top -4.5vh
    margin-left 17.4vw
    position absolute
    
div.alert
  position fixed
  top 8vh
  bottom 0
  left 30vw
  right 0
  background rgba(0,0,0,0.6)
  visibility hidden
  opacity 0
  transition opacity 800ms
  z-index 8900
  div.popup
    position relative
    display block
    border-radius 15px
    margin-left 12.5vw
    width 50vw
    height 25vh
    text-align center
    background category-color
    h1
      margin-top 10vw
      padding-top 5vh
      font-size 25px
    a
      display block
      width 15vw
      height 3.5vh
      border-radius 10px
      margin-top 7vh
      padding-top 2vh
      font-size 10px
    a#cancel
      float left
      margin-left 4vw
      background #db5353
    a#confirm
      float right
      margin-right 4vw
      background darken(#6fce8f, 15%)
      
div.alert:target
    visibility visible
    opacity 1

body
  color #fff
  overflow hidden
  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
  div#display
    width 100vw
    height 92vh
    margin-top 6vh
    padding-top 6vh
    background darken(white, 70%)
    line-height 1.2
    div#order
      margin-bottom 10px
      h1
        margin-left 5px
      a
        display block
        width 7vh
        height 15vh
        margin-right 70vw
        margin-top -1.2vh
        float right
        background darken(#6fce8f, 15%)
        border-radius 10px
  div#orderConfirmation
    display block
    text-align center
    left 0
    right 0
    bottom 0
    top 8vh
    background lighten(main-color, 20%)

.container
  width 100vw
  height 84vh
  overflow auto

p
  line-height 0.8